---
BasedOnStyle: llvm
AlignConsecutiveAssignments: 'true'
AlignTrailingComments: 'true'
AllowShortCaseLabelsOnASingleLine: 'true'
ColumnLimit: '80'
IndentWidth: 2
UseTab: Never
FixNamespaceComments: 'true'
IncludeCategories:
  - Regex: ^".*"$
    Priority: 1
  - Regex: ^<.*\.h>$
    Priority: 2
  - Regex: ^<.*>$
    Priority: 3
...
 
